<!DOCTYPE html>
<html>
<head>
  <title>Experience</title>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_url %>">HENK</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/work">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="<%= new_contact_path %>">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<%= yield %>

 <!-- +++++ Footer Section +++++ -->
  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Find me</h4>
          <p>
            <a href="https://www.linkedin.com/profile/view?id=361376778">Linkedin</a><br/>
            <a href="https://twitter.com/deathtenk">Twitter</a><br/>
            <a href="https://www.facebook.com/stereotypicallynerdy">Facebook</a><br/>
            <a href="https://www.github.com/deathtenk">Github</a>
          </p>
        </div><!-- /col-lg-4 -->
      </div>
    
    </div>
  </div>
</body>
</html>
